@import "tailwindcss";

@layer utilities {
  .navBtn {
    color: var(--color-textPrimary);
    text-align: left;
    font-family: "Noto Sans Display", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    font-style: normal;
    font-variant: normal;

  }

.navBtn:hover {
  color: var(--color-textPrimaryHover);
}
}

@theme {
  --breakpoint-md: 940px;
  --color-background: #eae8e7;
  --color-textPrimary: #483729;
  --color-textPrimaryHover: #7ec6bc;
}

body {
  background-color: var(--color-background);
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}
